name: Fetch upstream (CDI)

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - .github/workflows/fetch-upstream-cdi.yaml

env:
  # renovate: datasource=github-releases depName=kubevirt/containerized-data-importer
  KUBEVIRTCDI_VERSION: v1.64.0

jobs:
  fetch-upstream:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0

      - name: Git setup
        shell: bash
        run: |
          git config --global user.name 'drag0n141-bot[bot]'
          git config --global user.email '143080396+drag0n141-bot[bot]@users.noreply.github.com'

      - name: Fetch files
        shell: bash
        run: |
          git checkout -b cdi-${KUBEVIRTCDI_VERSION} master || git checkout cdi-${KUBEVIRTCDI_VERSION}
          mkdir ./deploy

          mv ./kustomization-cdi.tmpl.yaml ./deploy/kustomization.yaml
          curl -vL -o ./deploy/1-cdi-operator.yaml https://github.com/kubevirt/containerized-data-importer/releases/download/${KUBEVIRTCDI_VERSION}/cdi-operator.yaml
          curl -vL -o ./deploy/2-cdi-cr.yaml https://github.com/kubevirt/containerized-data-importer/releases/download/${KUBEVIRTCDI_VERSION}/cdi-cr.yaml

          git add ./deploy || true
          git commit -m "feat: cdi-${KUBEVIRTCDI_VERSION}" || true

          git push origin cdi-${KUBEVIRTCDI_VERSION} || true
